<section class="container">
    <div class="card mt-3 bg-light-green">
        <div classs="card-body">
            <br>
            <h4 class="card-title text-center" style="color: blue gray;">Alumnos Registrados
            </h4>
            <div class="body table-responsive table-borderless table-striped">
                <table class="table table-condensed">
                    <thead>
                        <tr class="text-center bg-green">
                            <th class="text">#</th>
                            <th class="text">Apellido</th>
                            <th class="text">DNI</th>
                            <th class="text">Email</th>
                            <th class="text">Aula</th>
                            <th class="text">Materia</th>
                            <th class="text">Calificar</th>
                            <th class="text">Ver notas</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        <tr class="text-center bg-light-green" *ngFor=" let notaPorAlumno of notasPorAlumnos ">
                            <td class="text text-center">
                                {{notaPorAlumno.id_rel}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.apellido}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.dni}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.email}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.nombre_aula}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.nombre_materia}}
                            </td>
                            <td class="text text-center">
                                <a routerLink="/alumno/calificar" (click)=guardarStorageIdRel(notaPorAlumno.id_inscripcion)>Calificar</a>
                            </td>
                            <td class="text text-center">
                                <a routerLink="/docente/verNotasPorAlumno" (click)=guardarStorateidAlumno(notaPorAlumno.id_usuario)>Ver Notas</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <button type="submit" routerLink="/dashboard" class="btn bg-blue-grey waves-effect waves-light m-2">Volver</button>
            </div>
        </div>
    </div>
</section>