<section class="container">
    <div class="card mt-3 bg-light-green">
        <div classs="card-body">

            <br>
            <!-- <h4 *ngIf="usuario.rol == 'ADMIN'" class="card-title text-center" style="color: blue gray;">Docentes Registrados -->
            <!-- </h4> -->
            <div class="body table-responsive table-borderless table-striped">
                <table class="table table-condensed">
                    <thead>
                        <tr class="text-center bg-green">
                            <th class="text">#</th>
                            <th class="text">Apellido</th>
                            <th class="text">DNI</th>
                            <th class="text">Email</th>
                            <th class="text">Aula</th>
                            <th class="text">Materia</th>
                            <th class="text">Calificar</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        <tr class="text-center bg-light-green" *ngFor=" let notaPorAlumno of notasPorAlumnos ">
                            <td class="text text-center">
                                {{notaPorAlumno.id_rel}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.apellido}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.dni}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.email}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.nombre_aula}}
                            </td>
                            <td class="text text-center">
                                {{notaPorAlumno.nombre_materia}}
                            </td>
                            <td class="text text-center">
                                <a routerLink="/home">Calificar</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>