<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alumnos">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docentes">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aulas">Aulas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/materias">Materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evaluaciones">Evaluaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">Cargar Docente</h2>
                    </div>
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <h6>#Dato ID Materia</h6>
                                </div>
                            </div>
                            <br>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control" id="start" name="fecha" value="2020-01-01" min="1900-01-01" max="2018-12-31" required autofocus>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="dinal" required>
                                    <label class="form-label">Final</label>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>