<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/alumnos">Alumnos</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/docentes">Docentes</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/aulas">Aulas</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/materias">Materias</a>
                </li>
                <!-- <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/evaluaciones">Evaluaciones</a>
                </li> -->
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/aulasMaterias">Asignacion</a>
                </li>
                <li *ngIf="usuario.rol == 'DOCENTE'" class="nav-item">
                    <a class="nav-link" routerLink="/docente/aulaMateria/cargar-aulaMateria">Asignacion</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/inscripciones">Inscripcion</a>
                </li>
                <li *ngIf="usuario.rol == 'ESTUDIANTE'" class="nav-item">
                    <a class="nav-link" routerLink="/alumno/inscripcion/cargar-inscripcion">Inscripcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" (click)="eliminarStorage()">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">Actualizar Alumno</h2>
                    </div>
                    <div class="body">
                        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)">
                            <div class="form-group form-float">
                                <label class="form-label">Nombre de la Materia</label>
                                <div class="form-line">
                                    <input [ngModel]="materia.nombre_materia" type="text" class="form-control" name="nombre_materia" required>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label class="form-label">Seleccionar dia</label>
                                <div class="form-line">
                                    <select [ngModel]="materia.dia" name="dia" class="browser-default custom-select" required>
                                        <option value="Lunes">Lunes</option>
                                        <option value="Martes">Martes</option>
                                        <option value="Miercoles">Miercoles</option>
                                        <option value="Jueves">Jueves</option>
                                        <option value="Viernes">Viernes</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label class="form-label">Seleccionar Horario</label>
                                <div class="form-line">
                                    <input [ngModel]="materia.horario" type="time" class="form-control" name="horario" required>

                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn bg-blue-grey waves-effect waves-light m-2" type="submit">Actualizar</button>
                                <button type="submit" routerLink="/materias" class="btn bg-blue-grey waves-effect waves-light m-2">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>