<form ngNativeValidate ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarAsignacion()" id="loginform">

    <h3 class="box-title m-t-40 m-b-0 text-center subtitulo">Registrar un nuevo Pedido</h3>
    <hr>

    <select formControlName="id_aula" class="form-control" required> 
    <option value="">Seleccione Aula</option>
    <option class="form-control" *ngFor="let aula of aulas"  [value]="aula.id_aula">
        {{aula.nombre_aula}}
    </option>
</select>
    <br>
    <select formControlName="id_materia" class="form-control"> 
    <option value="">Seleccione Materia</option>
    <option class="form-control"  *ngFor="let materia of materias"  [value]="materia.id_materia">
        {{materia.nombre_materia}}
    </option>
</select>

    <br>
    <div class="form-group form-float">
        <label class="form-label">Año</label>
        <div class="form-line">
            <input formControlName="anho" name="anho" class="form-control" type="text" required>
        </div>
    </div>
    <select formControlName="id_docente" class="form-control"> 
        <option value="">Seleccione Docente</option>
        <option class="form-control"  *ngFor="let usuario of usuarios"  [value]="usuario.id_usuario">
            {{usuario.nombre}}
        </option>
    </select>


    <div class="form-group text-center m-t-20 mt-5">
        <div class="col-xs-12">
            <button class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light" type="submit">Registar Pedido </button>
            <button type="submit" routerLink="/pedidos" class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light m-2">Cancelar</button>
        </div>
    </div>

</form>