
<br><br><br><br><br>

<section class="container">
    <div class="card mt-3 bg-white text-dark">
        <div classs="card-body">
            <br>
            <h4 class="card-title text-center" style="color: blue gray;">Mis Notas
            </h4>
            <div class="body table-responsive table-borderless table-striped">
                <table class="table table-condensed">
                    <thead>
                        <tr class="text-center text-dark bg-white">
                            <th class="text">#</th>
                            <th class="text">Nombre Instancia</th>
                            <th class="text">Nombre Materia</th>
                            <th class="text">Nota</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        <tr class="text-center bg-secondary" *ngFor=" let inscripcion of inscripciones ">
                            <td class="text text-center text-white">
                                {{inscripcion.id_nota}}
                            </td>
                            <td class="text text-center text-white">
                                {{inscripcion.nombre_instancia}}
                            </td>
                            <td class="text text-center text-white">
                                {{inscripcion.nombre_materia}}
                            </td>
                            <td class="text text-center text-white">
                                {{inscripcion.nota}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" routerLink="/dashboard" class="btn bg-blue-grey waves-effect waves-light m-2">Volver</button>
            </div>
        </div>
    </div>
</section>