<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/alumnos">Alumnos</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/docentes">Docentes</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/aulas">Aulas</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/materias">Materias</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/evaluaciones">Evaluaciones</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/aulasMaterias">Asignacion</a>
                </li>
                <li *ngIf="usuario.rol == 'DOCENTE'" class="nav-item">
                    <a class="nav-link" routerLink="/docente/aulaMateria/cargar-aulaMateria">Asignacion</a>
                </li>
                <li *ngIf="usuario.rol == 'ADMIN'" class="nav-item">
                    <a class="nav-link" href="/inscripciones">Inscripcion</a>
                </li>
                <li *ngIf="usuario.rol == 'ESTUDIANTE'" class="nav-item">
                    <a class="nav-link" routerLink="/alumno/inscripcion/cargar-inscripcion">Inscripcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" (click)="eliminarStorage()">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">Actualizar Evaluacion</h2>
                    </div>
                    <div class="body">
                        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20 mt-2s">

                            <div class="form-group form-float">
                                <label class="form-label">Materia</label>
                                <div class="form-group">
                                    <input [ngModel]="evaluacion.nombre_materia" value="evaluacion.id_materia" type="text" class="form-control" name="nombreMateria" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="form-group form-float">
                                <label class="form-label">Instancia</label>
                                <div class="form-group">
                                    <input [ngModel]="evaluacion.nombre_instancia" value="evaluacion.id_instancia" type="text" class="form-control" name="nombreInstancia" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="form-group form-float">
                                <label class="form-label">Fecha</label>
                                <div class="form-line">
                                    <input [ngModel]="evaluacion.fecha | date: 'yyyy-MM-dd'" type="date" class="form-control" name="fecha">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn bg-blue-grey waves-effect waves-light m-2" type="submit">Actualizar</button>
                                <button type="submit" routerLink="/evaluaciones" class="btn bg-blue-grey waves-effect waves-light m-2">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>