<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alumnos">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docentes">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aulas">Aulas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/materias">Materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evaluaciones">Evaluaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aulasMaterias">Asignacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inscripciones">Inscripcion</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<section>
    <br> <br> <br> <br>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">
                            Listado de Asignaciones
                            <small>Ver el listado de asignaciones registradas</small>
                        </h2>
                    </div>
                    <div class="container text-center">
                        <button class="btn btn-lg bg-cyan text-center m-1" routerLink="/aulaMateria/cargar-aulaMateria">
                            <span class="input-group-addon">
                                <i class="material-icons">control_point</i>
                                Agregar Asignacion
                            </span>
                        </button>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="text-center">
                                    <th class="text">#</th>
                                    <th class="text">Nombre aula</th>
                                    <th class="text">Nombre materia</th>
                                    <th class="text">Horario</th>
                                    <th class="text">Año</th>
                                    <th class="text">Nombre Docente</th>
                                    <th class="text">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-cyan text-center" *ngFor=" let aulas_materia of get_aulas_materia ">
                                    <td class="text text-center">
                                        {{aulas_materia.id_rel}}
                                    </td>
                                    <td class="text text-center">
                                        {{aulas_materia.nombre_aula}}
                                    </td>
                                    <td class="text text-center">
                                        {{aulas_materia.nombre_materia}}
                                    </td>
                                    <td class="text text-center">
                                        {{aulas_materia.horario}}
                                    </td>
                                    <td class="text text-center">
                                        {{aulas_materia.anho}}
                                    </td>
                                    <td class="text text-center">
                                        {{aulas_materia.nombre}} {{aulas_materia.apellido}}
                                    </td>
                                    <select [(ngModel)]="aulas_materia.estado" name="estado" class="form-control" (change)="cambiarEstado(aulas_materia)">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                    <td>
                                        <button class="btn btn-success" routerLink="/aulaMateria/actualizar-aulaMateria" (click)="guardarStorage(aulas_materia.id_rel, aulas_materia)">
                                            <span class="input-group-addon">
                                                <i class="material-icons text-center">edit</i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
